adium-theme-ubuntu==0.3.4
click==6.7
Flask==0.12.2
funcsigs==1.0.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mock==2.0.0
numpy==1.13.1
pbr==3.1.1
pkg-resources==0.0.0
protobuf==3.3.0
six==1.10.0
tensorflow==1.0.0
unity-lens-photos==1.0
virtualenv==15.0.1
Werkzeug==0.12.2
